$col-dark: hsl(234, 17%, 12%);
$col-black: hsl(0, 0%, 0%);
$col-grey: hsl(0, 0%, 95%);
$col-dark-grey: hsl(0, 0%, 16%);
$col-dark-blue: hsl(234, 17%, 12%);
$col-light: hsl(0, 0%, 99%);
$col-white: hsl(0, 0%, 100%);
$col-button-bg: hsl(45, 5%, 88%);
